/*FONT*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/icon/font?kit=kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsKTAp49f3jnpQ&skey=b8dc2088854b122f&v=v226) format('woff2');
  }

.logo {
    position: fixed;
    top: 10px;  
    left: 3px; 
    width:80px;  
    height: auto;  
    z-index: 20; 
}


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

.title-container{
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 10;
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.1);
}


.title{
    position: fixed;
    top: 40px; 
    left: 50%;
    transform: translateX(-50%);
    display: center;
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 40px;
    top: 30px;
    color: #ff891b;
    
}

/*title 옆에 돋보기 아이콘 구글에서 가져옴*/
.title::after {
    content: "search";
    font-family: "Material Symbols Outlined";
    font-size: 43px;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #ff891b;
    position: relative;
    top: -4px;
}

.speak{
    position: fixed;
    top: 140px; 
    left: 50%;
    transform: translateX(-50%);  
    font-family: 'GmarketSansMedium';
    font-size: 15px; 
    color: black;  
    background-color: #fffce2;
    z-index: 10; 
}

.map-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
}

.map_img{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}


/* 비디오 객체 스타일 */
.video-box {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: white;
    display: none;
    padding: 10px;
}
.video-box video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
#video1 {
    top: -60px;
    left: 50px;
}
#video2 {
    top: -60px;
    left: 50px;
}
/* 마우스 호버 시  비디오 팝업 */
.marker:hover .video-box {
    display: block;
}


/* 마커 스타일 */
.marker {
    position: absolute;
    width: 70px;
    height: 55px;
    cursor: pointer;
    z-index: 1000;
}

.marker img {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#marker1 {
    top: 100px;
    left: 300px;
    z-index: 1000;
}

#marker2 {
    top: 300px;
    left: 200px;
    z-index: 1000;
}